
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        margin: 0 auto;
    }
  }
  @media screen and (max-width: 380px) {
    .content{
        margin: 0;
    }
  }

body{
    background-image: linear-gradient(to bottom, #e2713f, #000);
    padding-bottom: 200px;
}

.name{
    font-size: 15pt;
    margin-bottom: 30px;
    font-weight: 700;
    color: #fff;
}

.atributes{
    margin-top: 50px;
}
.atributos p{
    letter-spacing: 1pt;
    margin-top: 10px;
    font-size: 10pt;
}
.content {
    margin-top: 5px;
    padding: 1rem;
    background-image: linear-gradient(to bottom,#9b212f, #000);
    border-radius: 5px 5px 10px 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.991);
    
}
.content h1{
    margin: 5px;
    font-size: 50pt;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 585px) {
    .content h1{
        font-size: 30pt;
    }
  }

ol.personagens{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

@media screen and (min-width: 750px) {
    ol.personagens{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 992px) {
    ol.personagens{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


ol.personagens li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 250px;
    margin: .5rem;
    padding: 2rem 1rem;
    background-image: linear-gradient(to right, #e2713f,#dfdf2d);
    color: #fff;
    border-radius: 1rem;
    height: 100px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

}
ol.personagens li img{
    height: 7rem;
}
